html, body{
    background: linear-gradient( darkslateblue 0%, lightblue 100%);
    color: black;
    font-family: helvetica, serif;
    margin-left: 80px;
    margin-right: 80px;
       
}

.banner {
    text-align: center;
    padding: 8px;
    font-size: 32px;
    font-style: bold;
    font-family:'Courier New', Courier, monospace;
    height: 48px;
    color: rgb(173, 137, 197);
    background-image: url(https://images.unsplash.com/photo-1655381453208-4983f2e18fb1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    
}


.logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}


.menu {
    text-align: justify;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    display: flex;
    list-style: none;
    color:rgb(19, 18, 30)
 
}

#aside-content {
    padding: 25%
   

}
.menu li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-left: 100px;
    
}

.menu li a:hover {
    color: rgb(26, 27, 44);
    border: 1px rgb(128, 8, 184);
    border-radius: 2px;
    background-color: rgb(214, 213, 234);
}

menu [style]{
    text-size-adjust: 56px;
    text-shadow: 2px;
    font-style: bold;
}


.menu{
        color: black;
      }
      
      a:visited {
        color: hotpink;
      }
      
      a:hover {
        color: whitesmoke;
      }
      
      /* selected link */
      a:active {
        color: blue;
      }

